<link rel="stylesheet" href="./assets/stylesheet/bootswatch.min.scss">

<div class="jumbotronHome">

	<center>
		<h1>Glazed fo' days!</h1>
		<h3>Bringing the freshed donuts to Palo Alto</h3>
		<br>

		<%= link_to "Glazed fo' days!", donuts_path, class: "btn btn-success" %>
	</center>
</div>